.joystick{
    position:relative;
}

div.joystick canvas {
    position:absolute;
}

#background{
    background-color:lightgreen;
    color:darkgreen;
    z-index: -1;
}

#overlay{
    color:darkgreen;
}