<!doctype HTML>
<html lang="en" ng-app="app">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
</head>

<body ng-controller="eventController">
  <!--
    Your HTML content here
  -->
  <div ng-controller="ToolbarController as ctrl">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <span flex></span>
        <md-menu md-position-mode="target-right target" md-offset="0 40">
          <md-button class="md-icon-button" md-menu-origin aria-label="More">
            <md-icon md-svg-icon="dots-vertical" ng-click="ctrl.openMenu($mdOpenMenu, $event)"></md-icon>
          </md-button>
          <md-menu-content width="4">
            <md-menu-item>
              <md-button ng-click="ctrl.openSettings($event)">
                <div layout="row" flex>
                  <p flex>Settings</p>
                  <md-icon md-svg-icon="settings"></md-icon>
                </div>
              </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
              <md-button ng-href="http://roverbot:1880/admin" target="blank">Flow Editor</md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider><md-menu-item>
              <md-button ng-click="ctrl.openAbout($event)">
                About
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
    </md-toolbar>
  </div>
  <div layout="column" layout-padding>
    <control-console></control-console>
    <power-console></power-console>
    <directional-console></directional-console>
  </div>
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/angular-aria/angular-aria.min.js"></script>
  <script src="bower_components/angular-messages/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="bower_components/angular-material/angular-material.min.js"></script>

  <!-- Your application bootstrap  -->
  <script src="core/core.module.js"></script>
  <script src="core/api.service.js"></script>
  <script src="core/event.controller.js"></script>
  <script src="core/toolbar.controller.js"></script>
  <script src="core/settings.service.js"></script>
  <script src="core/settings.controller.js"></script>
  <script src="control-console/control-console.module.js"></script>
  <script src="control-console/control-console.component.js"></script>
  <script src="directional-console/directional-console.module.js"></script>
  <script src="directional-console/directional-console.component.js"></script>
  <script src="power-console/power-console.module.js"></script>
  <script src="power-console/power-console.component.js"></script>
  <script src="app.module.js"></script>

</body>

</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->