<section layout="row" layout-align="center center">
  <md-button class="md-raised" aria-label="blue" md-colors="{background: 'blue-600'}" ng-click="$ctrl.buttonPressed('blue')"></md-button>
  <md-button class="md-raised" aria-label="green" md-colors="{background: 'green-600'}" ng-click="$ctrl.buttonPressed('green')"></md-button>
  <md-button class="md-raised" aria-label="yellow" md-colors="{background: 'yellow-600'}" ng-click="$ctrl.buttonPressed('yellow')">Cancel</md-button>
  <md-button class="md-raised" aria-label="red" md-colors="{background: 'red-600'}" ng-click="$ctrl.buttonPressed('red')">Stop</md-button>
</section>