

<section layout="row" layout-align="center center">
  <md-button class="md-raised md-accent" md-colors="{background: 'blue-400'}" ng-click="$ctrl.onBlue()"></md-button>
  <md-button class="md-raised md-accent" md-colors="{background: 'green-400'}" ng-click="$ctrl.onGreen()"></md-button>
  <md-button class="md-raised md-primary" md-colors="{background: 'yellow-400'}" ng-click="$ctrl.onYellow()">Cancel</md-button> 
  <md-button class="md-raised md-primary" md-colors="{background: 'red-400'}" ng-click="$ctrl.onRed()">Stop</md-button>
</section>